:root {
    --main: #FFFBEB;
    --secondary: #495579;
    --accent: #251749;
}

body {
    font-family: monospace;
    text-align: center;
    background-color: var(--main);
    color: var(--secondary);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}

#header a {
    text-align: left;
    padding: 3% 0% 0% 0%;
    width: 30%;
}

#header h1 {
    width: 40%;
}

#header p {
    width: 30%;
}

#start-section {
    font-size: 1.5rem;
}

#start-section button {
    height: 80px;
    width: 300px;
    font-size: 2rem;
    margin: 25px;
    border: 15px solid black;
}

.choice-btn {
    margin: 25px;
    display: inline-block;
    height: 50px;
    width: 200px;
    border: 10px solid black;
}

#question {
    font-size: 2rem;
}

#answer-message {
    color: var(--accent);
    font-style: italic;
    font-size: 2rem;
    margin-top: 2rem;
    padding-left: 2rem;
    text-align: left;

}

.container {
    width: 70%;
    margin: auto;
}

#high-score {
    font-size: 2rem;
}

@media screen and (min-width: 992px) {
    #quiz-section .buttons {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }
  }