:root {
    --main: #FFFBEB;
    --secondary: #495579;
    --accent: #251749;
}

body {
    font-size: 16px;
    font-family: monospace;
    text-align: center;
    background-color: var(--main);
    color: var(--secondary);
}

/* hide and show different according to stat of the code runs */
.hidden {
    display: none;
}

.visible {
    display: block;
}

.container {
    width: 70%;
    margin: auto;
}

/* header section */
#header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}

#header button {
    text-align: center;
    width: 20%;
}

#header h1 {
    width: 60%;
}

#header p {
    border: 1px solid var(--accent);
    font-size: 1.5rem;
    text-align: center;
    width: 19%;
}

/* start button section  */
#start-section {
    font-size: 1.5rem;
}

#start-section button {
    height: 80px;
    width: 300px;
    font-size: 2rem;
    margin: 25px;
    border: 5px solid black;
    background-color: var(--secondary);
    color: var(--main);
}

/* quiz section */
.choice-btn {
    margin: 25px;
    display: inline-block;
    height: 50px;
    width: 200px;
    border: 5px solid black;
    background-color: var(--secondary);
    color: var(--main);
}

#question {
    font-size: 2rem;
}

#answer-message {
    color: var(--accent);
    font-style: italic;
    font-size: 2rem;
    margin-top: 2rem;
    padding-left: 3rem;
    text-align: left;
}

/* score section  */
#high-score {
    font-size: 2rem;
}

li {
    list-style-type: none;
}

@media screen and (min-width: 992px) {
    #quiz-section .buttons {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }
  }